html,body {
	width: 100%;
	height: 100%;
	margin: 0 0;
	padding: 0 0;
	font-family: verdana;
}

#head {
	width: 100%;
	background-color: #EEE;
	border-bottom: 2px solid #DDD;
}

#head >div {
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	color: #444;
	font-size: 28pt;
	margin-right: 25px;
}

.logo {
	background: url(../logo.png);
	width: 125px;
	height: 125px;
}

#content {
	float: left;
	max-width: 80%;
	padding: 10px 5px;
}

#leftbar {
	float: left;
	width: 15%;
	min-width: 150px;
}
#leftbar h2 {
	font-size: 14pt;
	font-weight: normal;
	margin: 0 0;
	padding: 5px 5px;
	text-decoration: underline;
}

#leftbar >div {
	text-align: center;
	border-bottom: 2px solid #EEE;
	border-right: 2px solid #EEE;
	padding: 10px 0 15px 0;
}

#leftbar >div:first-child {
	text-align: left;
	border: 0 none;
	padding: 0 0;
}

#leftbar input {
	width: 70%;
	margin-left: 5px;
}

#choices a{
	padding: 8px 0 8px 5px;
	border-bottom: 2px solid #EEE;
	border-right: 2px solid #EEE;
	display: block;
	color: #192958;
	text-decoration: none;
}

#choices a:hover {
	color: #444;
}

#items > div {
	max-width: 300px;
	max-height: 300px;
	border: 2px solid #EEE;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	text-align: center;
}

#items > div > div:first-child {
	padding-bottom: 10px;
}

#items > div:hover {
	border: 2px solid #192958;
}

#items > div >* img {
	max-width: 250px;
	max-height: 250px;
}

#wnumber_error {
	font-size:9pt;
	color: red;
}
