{% extends "membership/base.html" %}

{% block heading %}
Register
{% endblock heading %}

{% block content %}
{% if error_message %}
<div class='error'>
	{{ error_message }}
</div>
{% endif %}
<form method="post" action="">
{% csrf_token %}
	<div>
		<div>WNumber</div>
		<div class='{{ username_error }}'>
			<input type='text' name='username' value='{{ username }}' />
		</div>
	</div>
	<div>
		<div>First Name</div>
		<div class='{{ fname_error }}'>
			<input type='text' name='fname' value='{{ fname }}' />
		</div>
	</div>
	<div>
		<div>Last Name</div>
		<div class='{{ lname_error }}'>
			<input type='text' name='lname' value='{{ lname }}' />
		</div>
	</div>
	<div>
		<div>Email Address</div>
		<div class='{{ email_error }}'>
			<input type='text' name='email' value='{{ email }}' />
		</div>
	</div>
	<div>
		<input type='submit' value='continue' />
	</div>

</form>
{% endblock content %}
