{% extends "cabinet/base.html" %}
{% load cabinet_extras %}

{% block title %}
ACM Cabinet - Checkout
{% endblock title %}

{% block heading %}
Checkout
{% endblock heading %}

{% block content %}
<div>
	<div class='title'> W{{ profile.user.username }} </div>
	<div class='indented'> Available credit: {{ profile.credit|currency }} </div>
</div>
<div id='checkout_items'>
	<div class='title'>Cart Items</div>
	{% for k,v in cart.items %}
		<div class='indented'>{{ v.quantity }} x {{ v.name }} </div>
	{% endfor %}
	<div class='indented'>Total: {{ total|currency }} </div>
</div>
<div>
	<div class='title'>Complete Purchase</div>
	<div class='indented'>
		{% if can_purchase %}
			<form method="post" action="">
				<div>
					Total: {{ total|currency }}
				</div>
				<div>
				{% if profile.user.has_usable_password == True %}
					Password: <input type="password" name="password" />
				{% endif %}
				</div>
				<div>
					<input type='submit' value='complete purchase' />
				</div>
			</form>
		{% else %}
			<div class='error'>
				You do not have enough credit for this purchase 
				<div>
					<a href='order'><button>Go back</button></a>
					<a href='add_credit'><button>Add Credit</button></a>
				</div>
			</div>
		{% endif %}
	</div>
</div>
<div class='error'>
	*You don't have a password set up, you can do that <a href='set_password'>here</a>
</div>
{% endblock content %}
