{% extends "cabinet/base.html" %}
{% load cabinet_extras %}

{% block title %}
ACM Cabinet - Checkout
{% endblock title %}

{% block heading %}
Checkout
{% endblock heading %}

{% block content %}
<div>
	<div class='title'> W{{ profile.user.username }} </div>
	<div class='indented'> Available credit: {{ profile.credit|currency }} </div>
</div>
<div id='checkout_items'>
	{% for k,v in cart.items %}
		<div class='indented'>{{ v.quantity }} x {{ v.name }} </div>
	{% endfor %}
	<div class='indented'>Total: {{ total|currency }} </div>
</div>
<div>
	<div class='title'>Complete Purchase</div>
	{% if can_purchase %}
		<div class='indented'>
			<form method="post" action="">
				<div>
					Total: {{ total|currency }}
				</div>
				<div>
				{% if profile.user.has_usable_password %}
					Password: <input type="password" name="password" />
				{% else %}
					<div class='error'>
						*You don't have a password set up, you can do that <a href='set_password'>here</a>
					</div>
				{% endif %}
				</div>
				<div>
					<input type='submit' value='complete purchase' />
				</div>
			</form>
		</div>
	{% else %}
		<div class='error'>
			You do not have enough credit for this purchase 
		</div>
		<div>
			<a href='order'><button>Go back</button></a>
			<a href='add_credit'><button>Add Credit</button></a>
		</div>
	{% endif %}
</div>
{% endblock content %}
